* {
    border: none;
    border-radius: 0px;
    font-family: "Inter";
    font-size: 16px;
    min-height: 0;
    font-weight: normal;
    color: #ffffff;
}

#waybar {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: rgba(19, 21, 21, 0.43);
    border-radius: 8px;
    margin: 5px 5px 0 5px;
}

/* Workspace Buttons */
#workspaces button label {
    border-radius: 8px;
    padding: 0 10px;
}

#workspaces button.active label {
    color: #1d2021;
    border-radius: 8px;
}

#workspaces button.active {
    background: #ffffff;
    border-radius: 8px;
}

#clock,
#battery,
#pulseaudio,
#tray,
#language,
#weather {
    padding: 0 10px;
    margin: 0 10px;
}

#language {
    margin: 0;
    color: #d79921;
    border-bottom: 5px solid #d79921;
}

#custom-weather {
    margin: 0;
}

#pulseaudio {
    margin: 0;
}

#pulseaudio.muted {
    padding: 0 20px;
    color: #cc241d;
}

#battery {
    margin: 0;
}

#clock {
    margin: 0;
}

#tray {
    margin: 0;
}